* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Устанавливаем отступы для всего сайта */
  body {
    padding: 10px;
  }
  
  .q-page-container {
    margin: 0 auto;
    max-width: 1200px; /* Максимальная ширина */
    padding-left: 20px;
    padding-right: 20px;
  }
  